# File system junk files
Desktop.ini
Thumbs.db
.DS_Store
._*
.Spotlight-V100
.Trashes
.apdisk
.fseventsd

# Editor files
*.sublime-*
*.swp
.c9
.sass-cache/

# Wordpress
data/*
wp-content/*
!wp-content/themes/
style.css
style.css.map

# Node
node_modules
