// Body
$body-bg: #f5f8fa;

// Brands
$brand-primary: #3097d1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$font-family-sans-serif: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Nav
$nav-text-color-home: #fff;
$nav-text-color-home-hover: #2cd4d9;

// Home hero
$home-hero-color: #fff;

// Footer
$footer-text-color-home: #fff;
$footer-background-color: #fff;

// Home Background Info
$home-background-container: #02bdda;
$home-background-container-hover: #00a4c1;
$home-background-popover: rgba(0, 0, 0, .7);
$home-background-popover-text: #fff;
$home-background-popover-label: #c4c4c4;
$home-background-popover-a: #6494bf;
$home-background-popover-a-hover: #3c5973;
$home-background-text: #fff;
